@font-face {
  font-family: "HelveticaLocal";
  src: url("/fonts/Helvetica.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaLocal";
  src: url("/fonts/helvetica-light-587ebe5a59211.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaLocal";
  src: url("/fonts/Helvetica-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaLocal";
  src: url("/fonts/Helvetica-Oblique.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaLocal";
  src: url("/fonts/Helvetica-BoldOblique.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Homemade Apple";
  src: url("/fonts/HomemadeApple-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("/fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("/fonts/PlayfairDisplay-VariableFont_wght.ttf") format("truetype");
  font-display: swap;
}
