.header {
  position: fixed;
  top: 0;
  z-index: 1000;
  padding: 1.5rem 3rem;
  display: flex;
  justify-content: space-between;
  width: 100%;

  background: rgba(255, 255, 255, 0.75); /* transparent */
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px); /* Safari */

  .logo {
    h1 {
      font-family: "Homemade Apple", cursive;
      font-weight: 400;
    }
  }
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-links {
  display: flex;
  gap: 3.6rem;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    color: #000;
    cursor: pointer;
    font-weight: 500;
    transition: opacity 0.2s ease;

    a {
      font-family: "Playfair Display", serif;
      font-weight: 600;
      text-transform: uppercase;
    }

    &:hover {
      opacity: 0.7;
    }
  }
}
