.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;

  .hero-img {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    .img {
      width: 100%;
      height: 100%;
      max-width: 50vh;
      object-fit: cover;
      opacity: 0.7;
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
    }
  }

  .content {
    flex: 1;
    padding: 0 2rem;
    text-align: left;

    h1 {
      font-family: "Playfair Display", serif;
      letter-spacing: -0.1rem;
      font-size: 2.4rem;
      margin-bottom: 0.5rem;
      font-weight: 400;
      font-style: normal;
    }

    h2 {
      font-family: "Playfair Display", serif;
      letter-spacing: -0.1rem;
      font-weight: 600;
      font-size: 2rem;
      margin-bottom: 1rem;
    }

    p {
      letter-spacing: -0.05rem;
      font-weight: 400;
      font-size: 1rem;
      margin-bottom: 2rem;
      color: #22223b;
    }

    .cta {
      padding: 0.75rem 2rem;
      color: #000;
      text-decoration: none;
      font-weight: 600;
      transition: background 0.2s;
      border: 0.1rem solid #000;

      font-family: "Playfair Display", serif;
      letter-spacing: -0.05rem;
      font-weight: 600;
      font-size: 1.2rem;
    }

    .cta:hover {
      background: #000;
      color: #fff;
    }
  }
}
